<h1 class="main-title">Best GIF Posts</h1>

<%= link_to "Creation", "/?sort=created_at", controller: "posts", action: "high_rated_index", :sort => "created_at" %>

<%= link_to "Votes", "/?sort=votes", controller: "posts", action: "high_rated_index", :sort => "votes" %>

<!-- <select id="sort">
 <option value="created_at">Creation</option>
 <option value="votes">Votes</option>
</select> -->

<%= link_to("New GIF Post", new_post_path) %>

<ul class="list-group">

  <% @posts.each do |post| %>
    <li class="list-group-item">
      <div class="row">
        <div class="post-votes col-md-2"><%= post.votes %></div>
        <div class="post-title col-md-4"><h2><%= post.title %></h2></div>
        <div class="post-gif col-md-7"><img src="<%= post.gif %>"></div>
      </div>
    </li>

  <% end %>

</ul>
